# Amazon Login with Amazon (LWA) OAuth credentials
# Obtain these from https://developer.amazon.com/loginwithamazon/console/site/lwa/overview.html
ALEXA_CLIENT_ID=your_client_id_here
ALEXA_CLIENT_SECRET=your_client_secret_here
ALEXA_REFRESH_TOKEN=your_refresh_token_here
